<div class="container">
    <div class="row">
        <h2>标题：<%= title %></h2>
        <ul>
            <% for(var i=0;i<resultArr.length;i++) {%>
            <li><%= resultArr[i] %></li>
            <% } %>
        </ul>
    </div>
</div>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
        $.ajax({
            type: 'GET',
            url: '/json',
            success: function (val) {
                console.log('请求数据', val)
            }
        })
        console.log('ejs 模板')
    }
</script>